In [13]:
import ibm_db

In [14]:
#credential from my db2 instance in IBM CLOUD 
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"
dsn_hostname = "764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_port = "32536"
dsn_protocol = "TCPIP" # "TCPIP"
dsn_uid = "bpz80268"
dsn_pwd = "R9dfIGC9XKOFcygU"
dsn_security = "SSL" #"SSL

In [15]:
#Create database connection
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  bpz80268 on host:  764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [17]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "BPZ80268.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204

In [20]:
#creating tables using DDL
createQuery = "create table EMPLOYEES_FACT(emp_id INTEGER PRIMARY KEY NOT NULL, lname VARCHAR(20), fname VARCHAR(20), country VARCHAR(20), department VARCHAR(20))"

cresteStmt= ibm_db.exec_immediate(conn, createQuery)

In [22]:
#loading data into the table 
insertQuery = "insert into EMPLOYEES_FACT values(1, 'Monge', 'Gabriel', 'Ireland', 'Tecnology')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [26]:
insertQuery2 = "insert into EMPLOYEES_FACT values(2, 'Umanzor', 'Pedro', 'EEUU', 'Maintenance'), (3, 'Roman', 'Juan', 'El Salvador', 'Cleaning'), (4, 'Caceres', 'Jose', 'Honduras', 'Despatch')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [31]:
#retriving rows from table 
selectQuery = "select * from EMPLOYEES_FACT"

selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) 
ibm_db.fetch_both(selectStmt)

{'EMP_ID': 1,
 0: 1,
 'LNAME': 'Monge',
 1: 'Monge',
 'FNAME': 'Gabriel',
 2: 'Gabriel',
 'COUNTRY': 'Ireland',
 3: 'Ireland',
 'DEPARTMENT': 'Tecnology',
 4: 'Tecnology'}

In [49]:
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

In [50]:
#updating data
update = "update EMPLOYEES_FACT set DEPARTMENT= 'Maintenance' where lname='Roman'"
updateStmt = ibm_db.exec_immediate(conn, update)

In [51]:
import pandas 
import ibm_db_dbi

In [52]:
#Connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [56]:
#retriving rows from EMPLOYEES_FACT
selectQuery = "select * from EMPLOYEES_FACT"

pdf = pandas.read_sql(selectQuery, pconn)

#print just fname for first row in data frame
pdf.LNAME[0]

'Monge'

In [57]:
pdf

   EMP_ID    LNAME    FNAME      COUNTRY   DEPARTMENT
0       1    Monge  Gabriel      Ireland    Tecnology
1       2  Umanzor    Pedro         EEUU  Maintenance
2       3    Roman     Juan  El Salvador  Maintenance
3       4  Caceres     Jose     Honduras     Despatch

In [58]:
pdf.shape

(4, 5)